<h2 mat-dialog-title>New Arivals</h2>
<form class="product-form" #productForm="ngForm" (ngSubmit)="onSubmit($event)">
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="product-full-width">
      <input
        matInput
        placeholder="Product Name"
        [(ngModel)]="newProduct.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field class="product-full-width">
      <input
        matInput
        placeholder="Unit Price"
        [(ngModel)]="newProduct.price"
        type="number"
        min="0"
        name="price"
      />
    </mat-form-field>
    <mat-form-field class="product-full-width">
      <input
        matInput
        placeholder="Discount(%)"
        [(ngModel)]="newProduct.discount"
        type="number"
        min="0"
        max="100"
        name="discount"
      />
    </mat-form-field>
    <mat-form-field class="product-full-width">
      <input
        matInput
        placeholder="Rating"
        [(ngModel)]="newProduct.rating"
        type="number"
        min="0"
        max="5"
        name="rating"
      />
    </mat-form-field>
    <mat-form-field class="product-full-width">
      <textarea
        matInput
        placeholder="Product Description"
        [(ngModel)]="newProduct.description"
        name="description"
      ></textarea>
    </mat-form-field>
    <input
      #imageInput
      type="file"
      accept="image/*"
      (change)="uploadFile($event)"
    />
    <mat-checkbox>In Stock</mat-checkbox>
    <div class="uploaded-image">
      <img [src]="url" height="150px" width="300px" />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" cdkFocusInitial type="submit">
      Save
    </button>
  </mat-dialog-actions>
</form>
