mat-toolbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}
.image-circle {
  border-radius: 150px;
}

.brand-logo {
  width: 50px !important;
  margin: 5px;
  border-radius: 25px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
